# Dependências
node_modules/
Frontend/**/node_modules/

# Variáveis de ambiente
.env
Frontend/**/.env

# Arquivos gerados pelo Quasar
Frontend/**/.quasar/
Frontend/**/dist/

# Temporários
*.log
.DS_Store
Thumbs.db